body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #141511;
}
.core {
	border-radius: 15px;
	background: #323041;
	padding: 12px;
	width: 300px;
	text-align: center;
}
.link {
	border-radius: 8px;
	background: #000;
	text-decoration: none;
	padding: 10px;
	font-size: 1.25em;
	color: #fff;
}
.link:hover {
	transform: scale(1.1) rotate(2deg);
}
.links {
	/*
    display: flex;
    flex-direction: column;
    gap: 15px;
	padding: 10px;*/
	display: grid;
    gap: 10px;
    padding: 5px;
    align-content: space-around;
    flex-wrap: wrap;
}
.github { background: #0d1117; }
.itch { background: #dd4a4a; }
.twitch { background: #a970ff; }
.reddit { background: #ff4500; }
.vk { background: #0077ff; }
.blusky { background: #0085ff;}
.steam { background: #171d25; }
.telegram { background: rgba(0, 136, 204, 0.8); }
.boosty { background: #f15f2c; }

